# vim
*.sw[po]

# IMDB data (not licensed for redistribution)
data/imdb/*
!data/imdb/get.sh

# NYT data (from API)
data/nyt/*
!data/nyt/get.sh

# California housing (from scikit-learn)
data/california/*

# LaTeX artifacts
paper/*
!paper/paper.pdf
!paper/paper.tex
!paper/paper.bib
!paper/makefile

# Python
__pycache__
*.pyc

# OSX
.DS_Store
